{% extends 'base.html' %} {% block content %}
        <h2 class="text-center">{{ page_title }}</h2>
        <h4 class="text-center">Catch up on all the action here!</h4>
    <br>
            <!-- Article one -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/static/img/articleimg1.png" alt="players">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Article</h3>
          <p>Naomh Conaill turned in a power-packed display to reach their second Ulster title in nine years as they thoroughly outclassed a somewhat lack-lustre Clontibret before a big crowd in Healy Park tonight....</p>
          <a class="btn btn-primary" target="_blank" href="https://www.rte.ie/sport/gaa/2019/1116/1091275-mcgettigan-stars-as-naomh-conaill-reach-ulster-decider/">Read More</a>
        </div>
      </div>


      <hr>

      <!-- Article Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/static/img/articleimg2.png" alt="Conor McManus">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Article</h3>
            <p>Scotstown's bid for five Monaghan SFC titles in a row was halted at the final hurdle in Clones today as Clontibret powered to victory. The underdogs, who last won the title in 2014, laid the platform for the sucess in the first half with their star man Conor McManus and Michael P O'Dowd on song as they established a 0-09 to 0-03 lead at the break....</p>
              <a class="btn btn-primary" target="_blank" href="https://www.rte.ie/sport/gaa/2019/1020/1084549-classy-clontibret-end-scotstowns-reign-in-monaghan/">Read More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Article Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/static/img/articleimg3.png" alt="TJ Reid">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Article</h3>
          <p>Not for the first time, TJ Reid made a hurling pitch his personal playground, giving a scoring exhibition as Ballyhale Shamrocks made light work of St Martin's in the Leinster club semi finals at Nowlan Park.The All-Ireland champions justified their strong favouritism, making a blistering start with a goal from Brian Cody after only 17 seconds....</p>
          <a class="btn btn-primary" target="_blank" href="https://www.independent.ie/sport/gaelic-games/hurling/tj-reid-hits-stunning-214-as-ballyhale-shamrocks-power-into-leinster-final-38698264.html">Read More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Article Four -->
      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/static/img/articleimg4.png" alt="Phillip Connors">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Article</h3>
          <p>St Mullins caused a major shock when they bundled former All-Ireland club champions Cuala out of the Leinster senior hurling championship at Cullen Park on Sunday. This was no fluke result. James Doyle opened the scoring on six minutes with a point from play. Sean Moran and Diarmaid O Floinn replied to put the favourites in front. Seamus Murphy equalised for St Mullins. The Dubliners had chances of points but tried to walk the ball around a St Mullins defence who were having none of it.....</p>
          <a class="btn btn-primary" target="_blank" href="https://www.irishtimes.com/sport/gaelic-games/hurling/carlow-champions-knock-cuala-out-of-leinster-championship-1.4071149">Read More</a>
        </div>
      </div>
{% endblock %}
