{% extends 'base.html' %} {% block content %}
    <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-10 mx-auto text-center">
          <h2 class="mb-5"><strong>Welcome to Player Review</strong></h2>
            <h3>A Website that gives you, the sports fan, the chance to have your say on Man of the Match selections. </h3>
            <h3>Start by Adding & Reviewing your favourite player.</h3>
            <br>
            <h3>If necessary you can Edit & Delete your submission so don't worry! </h3>
            <br>
            <h3>Don't forget to check out our club merchandise in our 'Merchandise' page.</h3>
            <br>
            <h4>Have fun...</h4>
        </div>
      </div>
    </div>
  </section>

{% endblock %}