{% extends 'base.html' %} {% block content %}
        <h1>{{ page_title }}</h1>
        {% for review in reviews %}
            {{ review.player_name }}
            {{ review.player_club }}
            {{ review.player_position }}
            {{ review.player_review }}
            {{ review.issue_date }}
            {{ review.review_from }}
        {% endfor %}
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">emoji_people</i>Player Name:</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">sports_soccer</i>Players Club:</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">sports_handball</i>Players Position:</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">create</i>Review:</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">access_time</i>Date:</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">person_pin</i>Reviewed by:</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>


{% endblock %}

