{% extends 'base.html' %} {% block content %}
<!-- Featured Review Row -->
        <h2>{{ page_title }}</h2>
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">

        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Scotstown 2-12 Monaghan Harps 0-9</h4>
            <p class="text-black-50 mb-0">"Superb McCarthy leads Scotstown back to the summit. 10 out of 10." - James Greenan.  </p>
          </div>
        </div>
      </div>

        <!-- Featured Review Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Clontibret 1-12 Ballybay 0-10</h4>
            <p class="text-black-50 mb-0">"Conor McManus knows a thing or two about commitment. He knows more about the demands placed on a modern day footballer and he knows full well that that load only grows heavier with talent. Definitely the best player on the field today."  - Damian Martin. </p>
          </div>
        </div>
      </div>
{% endblock %}
</html>